
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.board {
  display: flex; 
  gap: 20px;     
  justify-content: space-between;
}


.column {
  flex: 1;      
  background-color: #f4f5f7;
  padding: 10px;
  border-radius: 8px;
  min-height: 500px;
}

h2 {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}