.app-container {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #f4f5f7;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.theme-btn {
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.column {
  flex: 1;
  background-color: #e2e4e9;
  padding: 15px;
  border-radius: 8px;
  min-height: 500px;
}

h2 {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-top: 0;
}

.app-container.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .theme-btn {
  background: #e0e0e0;
  color: #121212;
}

.dark-mode .column {
  background-color: #1e1e1e;
  border: 1px solid #333;
}

.dark-mode .task-card {
  background-color: #2c2c2c;
  color: #fff;
  border-color: #444;
}

.dark-mode .task-card.high-priority {
  border-left: 5px solid #ff5252 !important;
}

.dark-mode input, 
.dark-mode select, 
.dark-mode textarea {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;
}

.dark-mode h2 {
  border-bottom-color: #444;
}

.dark-mode .priority-tag {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: 1px solid #999;
}

/* buscador */
.search-input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 1rem;
  outline: none;
}


.dark-mode .search-input {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;
}

.dark-mode .search-input::placeholder {
  color: #aaa;
}